/* Import */

@import url(../css/_partials/typo.css);

/*/ Import */

/* Header */

header {
    height: 4.375rem;
}

#topbar img {
    width: 2.5rem;
}

#topbar img:last-child {
    width: 100%;
    min-width: 6.25rem;
}

/*/ Header */

/* Main */

main {
    height: calc(100vh - 4.375rem);
}

nav {
    height: 100%;
}

#sidebar {
    max-width: 9.375rem;
    min-width: 4.375rem;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

/*/ Main */