/* Common */

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    height: calc(100vh - 4.375rem);
}

/* Common */

/* Header */

header {
    height: 4.375rem;
}

#topbar img {
    width: 3.125rem;
}

#topbar img:last-child {
    width: 100%;
    min-width: 6.25rem;
}

/*/ Header */

/* Main */

#sidebar {
    height: 100vh;
    max-width: 9.375rem;
    min-width: 4.375rem;
    z-index: 1;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 5.375rem;
}

#logo,
#i-menu {
    min-width: 4.375rem;
}

.stats img {
    width: 100%;
}

#main-header {
    padding-top: 5.875rem;
}

#offcanvas {
    width: 100%;
}

.table img {
    height: 1.875rem;
    width: 1.875rem;
}

td {
    text-align: center;
    vertical-align: middle;
}

.date,
.roi {
    display: none;
}

/*/ Main */


/* Media Queries */

@media screen and (min-width:576px) {

    .date,
    .roi {
        display: table-cell;
    }

}

@media screen and (min-width:992px) {

    #left {
        width: 60%;
    }

    #right {
        width: 40%;
    }

    #offcanvas {
        width: 40%;
    }

}

/*/ Media Queries */